<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <title>Snippity</title>

    <!-- Scripts -->

    <!-- Styles -->
    <link href="/assets/chota.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/assets/cm/lib/codemirror.css">
    <link rel="stylesheet" href="/assets/cm/theme/monokai.css">
    <link rel="stylesheet" href="/assets/app.css">
</head>
<body class="padding-top">
    <div class="container" id="app">
        <div class="row is-center">
            <div class="col-6">
                <h2>Snippity <small><a href="https://github.com/sotoplatero/snippy">code</a></small></h2>
                <!-- <p><input type="text" name="title" placeholder="Title"></p> -->
                <form method="POST">
                    <p><textarea name="code" id="code">// Write or cut and paste your js code  
var msg = "Hello World!!";
function(msg){ 
  alert(msg);
}</textarea></p>
                    <p>
                        <button class="" id="btn-save" type="submit">Save</button>
                        <button id="btn-photo">Foto</button>
                    </p>
                </form>
            </div>
        </div>
    </div>
    <script src="/assets/cm/lib/codemirror.js"></script> 
    <script src="/assets/cm/mode/javascript/javascript.js"></script>   
    <script src="/assets/html2canvas.min.js"></script>    
    <script src="/assets/app.js"></script>    
    <script >
        CodeMirror.fromTextArea(document.getElementById("code"), {
            mode:  "javascript",
            lineNumbers: true,
            lineWrapping: true,
            theme: 'monokai'
            // mode: "htmlmixed"
        });        
    </script>    
</body>
</html>
